# Database
DATABASE_URL=postgresql://username:password@localhost:5432/imageresizernow_db
JWT_SECRET=3d8c6ee16d85fc409c9ed38c911707a3bfaa7153812801646d8d884528a90f23e8cde0440b8350511672e076d67e1c384128e593f37cc11aa06d4437c21efc94

# DigitalOcean Spaces Configuration
DO_SPACES_ACCESS_KEY=DO00HDJ9DDJZYV39Y746
DO_SPACES_SECRET_KEY=Gviu4BJQKGaRBeFQXfzqUl2lGHusXRaEJ/eU9TWarsw
DO_SPACES_ENDPOINT=https://sfo3.digitaloceanspaces.com
DO_SPACES_REGION=sfo3
DO_SPACES_BUCKET=imageresizer
DO_SPACES_CDN_URL=https://imageresizer.sfo3.cdn.digitaloceanspaces.com